@model HTTP5112_A3_YatYiChung.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>

<div>First Name: @Model.TeacherFName</div>
<div>Last Name: @Model.TeacherLName</div>
<div>Employee Number: @Model.EmployeeNumber</div>
<div>Salary: @Model.Salary</div> 
<div>Hire Date: @Model.HireDate</div>


 